<template name="adminPagesReplace">
  {{# Layout template="orionMaterializeHeaderContainer" }}
    {{ i18n 'pages.index.title' }}
  {{/ Layout }}
  {{# Layout template="orionMaterializeContentContainer" }}
    {{# if userHasPermission 'pages.insert' }}
      <div class="floating-btn-onheader">
        <a href="{{ pathFor 'pages.create' }}" class="btn-floating btn-large waves-effect waves-light red right">
          <i class="mdi-content-add"></i>
        </a>
      </div>
    {{/ if }}
    {{# if userHasPermission 'pages.index' }}
      {{> tabular table=tabularTable class="table index-table" }}
      <!-- {{> editButton}} -->
    {{/ if }}
  {{/ Layout }}
</template>

<!-- <template name="editButton">
  <a class="btn waves-effect waves-light light-blue accent-4 user-btn-action" data-user="_id">Edit</a>
</template> -->